@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Font */
@layer {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

/* CSS for default body scrolling bar */
body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* .modal-scroll::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;

} */

.modal-scroll::-webkit-scrollbar {
  width: 0;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.ReactCollapse--collapse {
  transition: height 500ms;
}


/* Additonal custom styles  */

.max-width {
  @apply max-w-[1280px] mx-auto px-4;
}

/* .active {
  @apply text-main;
} */

.active {
  @apply text-[#2030e0];
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* hamburger menu */

.hamburger {
  width: 23px;
  height: 1.6px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.hamburger::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-7px);
}

.hamburger::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: white;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  transform: translateY(7px);
}

.active-hamburger {
  width: 23px;
  height: 1.6px;
  background: transparent;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.active-hamburger::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: white;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  transform: rotate(-45deg);
}

.active-hamburger::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 1.6px;
  background: white;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  transform: rotate(45deg);
}

@media (768px >= width) {
  .nav-links {
    position: absolute;
    flex-direction: column;
    top: 61px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: white;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }

  .side-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 61px;
    background: white;
    transform: translateX(40%);
    transition: all 0.5s ease-in-out;
  }

  .side-nav li,
  .nav-links li{
    padding: 15px 40px 5px;
    font-size: 18px;
  }

}
